.back-ground {
    background-color: #dee2e6;
    background-image: url("./img/lib-background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.white-color {
    color:white;
}
